* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  --body-bg: hsl(0, 0%, 0%);

  --hue: 240;
  --text-color: hsl(var(--hue), 11%, 89%);
  --span-text-color: hsl(var(--hue), 9%, 89%);
  --placeholder-text-color: hsl(var(--hue), 6%, 51%);

  --input-bg: hsl(198, 45%, 94%);
  --input-bg-hover: hsl(0, 0%, 100%);

  --button-bg: hsla(195, 91%, 25%, 1);
  --remove-color: hsl(355, 91%, 66%);

  --table-hue: 194;
  --table-header-color: hsla(var(--table-hue), 72%, 13%, 1);

  --tr-odd: hsla(var(--table-hue), 61%, 6%, 0.5);
  --tr-even-input: hsla(var(--table-hue), 65%, 7%, 1);
  --tr-border: hsl(var(--table-hue), 31%, 42%);
}

body {
  width: 100%;

  background: var(--body-bg);

  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: min(100%, 1120px);

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

header img {
  width: 18.628rem;
}

.search-container {
  display: flex;
  width: min(100%, 640px);
  height: 4.4rem;
}

.search-container input {
  width: 90%;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 100%;

  color: var(--placeholder-text-color);

  background-color: var(--input-bg);
  border: none;
  border-radius: 0.8rem 0 0 0.8rem;
  padding: 0.8em;
}

.search-container input:hover {
  background-color: var(--input-bg-hover);
}

.search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  gap: 0.5rem;

  background-color: var(--button-bg);
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;

  padding: 0.5rem 0.2rem;
  cursor: pointer;
}

.search-container button img {
  width: 2rem;
  transition: transform 350ms ease;

}

.search-container span {
  display: none;
}

.search-container button:hover {
  filter: brightness(1.3);
}

.search-container button img:hover {
  transform: scale(1.2);
  transition: transform 350ms ease;
}
table {
  width: 100%;
  height: 15rem;

  border-collapse: collapse;
}

table.empty {
  background-image: url('/src/images/nofavorites.svg');
  background-color: var(--tr-odd);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26rem;

  border-radius: 0 0 0.5rem 0.5rem;
}

table * {
  color: var(--text-color);
}

th {
  background-color: var(--table-header-color);
  height: clamp(3.2rem, 4.2rem + 2vh, 6.2rem);

  text-align: center;
  font-size:1.2rem;
  font-weight: normal;

  color: var(--text-color);
  font-weight: bold;
}

th:first-child {
  border-radius: 0.5rem 0 0 0;
}

th:last-child {
  border-radius: 0 0.5rem 0 0;
}

tr:nth-child(odd) {
  background-color: var(--tr-odd);

}

tr:nth-child(even) {
  background-color: var(--tr-even-input);
  border: var(--tr-border) 1px solid;
}

td {
  padding: 0.93rem;
  text-align: center;
  height: min(3.2rem, 20%);

  font-size: 1.2rem;
  font-weight: bold;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 3.125rem;
  border-radius: 50%;

  object-fit: cover;
}

td.user a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

td.user a p {
  font-weight: bold;
  font-size: 1.2rem;
}

td.user a span {
  font-weight: normal;
  font-size: 1rem;
}

td .remove {
  background: none;
  border: none;

  color: var(--remove-color);
  cursor: pointer;
}

@media (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 11.5rem;
  }

  .search-container input {
    width: 90%;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;

    color: var(--placeholder-text-color);

    background-color: var(--input-bg);
    border: none;
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 0.8em;
  }
  .search-container button {
    width: fit-content;

    color: var(--text-color);
    font-weight: bold;

    padding: 1.2rem 3.2rem;
  }

  .search-container span {
    display: block;
  }

  th {
    font-size: 1.6rem;
  }

  td,.remove {
    font-size: 1.6rem;
  }

  td.user img {
    width: 6.125rem;
  }

  td.user a {
    gap: 0.8rem;
  }
  td.user a p {
    font-size: 1.6rem;
  }

  td.user a span {
    font-size: 1.2rem;
  }
}
